<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File href="../QuadroI.htm">
<link rel=File-List href=filelist.xml>
<link href="css/stylesheet.css" rel="stylesheet">
<style>
<!--table
	{mso-displayed-decimal-separator:"\,";
	mso-displayed-thousand-separator:"\.";}
@page
	{margin:.79in .51in .79in .51in;
	mso-header-margin:.31in;
	mso-footer-margin:.31in;}
-->
</style>
<![if !supportTabStrip]><script language="JavaScript">
<!--
function fnUpdateTabs()
 {
  if (parent.window.g_iIEVer>=4) {
   if (parent.document.readyState=="complete"
    && parent.frames['frTabs'].document.readyState=="complete")
   parent.fnSetActiveSheet(0);
  else
   window.setTimeout("fnUpdateTabs();",150);
 }
}

if (window.name!="frSheet")
 //window.location.replace("../QuadroI.htm");
else
 fnUpdateTabs();
//-->
</script>
<![endif]>
</head>

<body link="#0563C1" vlink="#954F72">
	<!--form id=frm1 name=frm1 target="principalq">
		<tr>
	    <td width="13%">&nbsp;<iframe src="" frameborder="0" name="menu" width="93%" height="100%"></iframe></td>
	    <td width="86%">
		<iframe src="/Demonstrativos" frameborder="0" name="principal" width="100%" height="99%" bgcolor="#A5002A">
            
        </iframe>
		</td>
	</tr>
	</form-->
<br>
	<p align="left">
	     <table BORDER="1" BORDERCOLORLIGHT="#008000" CELLPADDING="0" CELLSPACING="0" WIDTH="210"  height='50'>
	     <th  class="tit">OPÇÕES</font></th>
	     <tr>
	     <td VALIGN="MIDDLE" bgcolor="#C9DCD2"><font SIZE="1" FONT FACE="Verdana, Arial">
	     <div id="Out0" align="left">&nbsp;&nbsp;
                 <img src="Fechada.gif" id= 'Out1' class="Outline" style="cursor: hand" WIDTH="19" HEIGHT="15">
                 &nbsp;<b>Custos</b>
                 <br>
	     		<div id='Out1d' style="display:None">
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/Demonstrativos" target="principal">Demonstrativos</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/Categorias" target="principal">Categorias</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/Amortizacaodecapital" target="principal">Amortização de Capital</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="2" HEIGHT="2">&nbsp;<A HREF="/CustomaoobraClientes" target="principal">Clientes</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/CustoMaoObra" target="principal">Custo Mão de Obra</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/DemonstrativoDespesas" target="principal">Demonstrativo de Despesas</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/EncargosBasicos" target="principal">Encargos Sociais Básicos</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/EncargosImpostos" target="principal">Encargos e Impostos</A><br>
	     			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/HorasAnuaisPagas" target="principal">Horas Anuais Pagas</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/HorasImprodutivas" target="principal">Horas Improdutivas</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/MaquinasEquipamentos" target="principal">Maquinas Equipamentos</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/Setores" target="principal">Setor</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/TipodeEncargo" target="principal">Tipo de Encargos</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/TipodeInvestimento" target="principal">Tipo de Investimento</A><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="blue.gif" border="0" WIDTH="4" HEIGHT="4">&nbsp;<A HREF="/TipoDespesas" target="principal">Tipo de Despesa</A><br>
	     		</div>
	     </div>
	     
	     </td>
	     </tr>
	     </table>
	</p>
  	
</br>
<table border=0 cellpadding=0 cellspacing=0 width=513 style='border-collapse:
 collapse;table-layout:fixed;width:385pt'>
 <col width=226 style='mso-width-source:userset;mso-width-alt:8265;width:170pt'>
 <col width=287 style='mso-width-source:userset;mso-width-alt:10496;width:215pt'>
 <tr height=20 style='height:15.0pt'>
  <td colspan=2 height=20 class=xl68 width=513 style='height:15.0pt;width:385pt'>O
  quadro a seguir apresenta as despesas gerais fixas:</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=2 height=20 class=xl69 style='height:15.0pt'>Quadro I –
  Investimento Fixo</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl70 style='height:15.0pt;border-top:none'>Especificação</td>
  <td class=xl70 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span>Valor (R$)</td>
 </tr>
 <% soma = 0.00 
 LucroLiquido.length;
 if(Quadros.length > 0) { %>
	<% for(var i = 0; i < Quadros.length; i++) {%>
 		<tr height=20 style='height:15.0pt'>
  			<td height=20 class=xl65 style='height:15.0pt;border-top:none'>
  				<%=Quadros[i].nomecategoria + " e "+Quadros[i].nomesubcategoria%>
  			</td>
  			<td class=xl66 align=right style='border-top:none;border-left:none'><%=Quadros[i].subtotal%></td>
 		</tr>
 
 		<% soma= soma+Quadros[i].subtotal} %>
	<% } %>
 
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>Total<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 align=right style='border-top:none;border-left:none'><%=Total[0].total%></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=226 style='width:170pt'></td>
  <td width=287 style='width:215pt'></td>
 </tr>
 <![endif]>
</table>
<br>
<table border=0 cellpadding=0 cellspacing=0 width=516 style='border-collapse:
 collapse;table-layout:fixed;width:387pt'>
 <col width=226 style='mso-width-source:userset;mso-width-alt:8265;width:170pt'>
 <col width=83 style='mso-width-source:userset;mso-width-alt:3035;width:62pt'>
 <col width=60 style='mso-width-source:userset;mso-width-alt:2194;width:45pt'>
 <col width=83 style='mso-width-source:userset;mso-width-alt:3035;width:62pt'>
 <col width=64 style='width:48pt'>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl68 width=516 style='height:15.0pt;width:387pt'>Demonstrativo
  Contábil:</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl69 style='height:15.0pt'>Quadro II –
  Depreciações</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl70 style='height:15.0pt;border-top:none'>Descrição</td>
  <td class=xl71 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span>Valor</td>
  <td class=xl70 style='border-top:none;border-left:none'>Vida Útil</td>
  <td class=xl70 style='border-top:none;border-left:none'>Depreciação</td>
  <td class=xl70 style='border-top:none;border-left:none'>Valor</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl70 style='height:15.0pt;border-top:none'>&nbsp;</td>
  <td class=xl71 style='border-top:none;border-left:none'>(R$)</td>
  <td class=xl71 style='border-top:none;border-left:none'>(anos)</td>
  <td class=xl73 style='border-top:none;border-left:none'>(%)</td>
  <td class=xl73 style='border-top:none;border-left:none'>(R$)</td>
 </tr>
 
 <% soma2 = 0.00 
 if(Quadros.length > 0) { %>
	<% for(var i = 0; i < Quadros.length; i++) {%>
 		<tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl65 style='height:15.0pt;border-top:none'><%=Quadros[i].nomecategoria + " e "+Quadros[i].nomesubcategoria%></td>
		  <td class=xl66 align=right style='border-top:none;border-left:none'><%=Quadros[i].subtotal%></td>
		  <td class=xl74 style='border-top:none;border-left:none'><%=Quadros[i].vidadepreciavel%></td>
		  <td class=xl74 style='border-top:none;border-left:none'><%=Quadros[i].taxadepreciavelmes%></td>
		  <td class=xl66 align=right style='border-top:none;border-left:none'><%=Quadros[i].depreciacao%></td>
		 </tr>
 
 		<% soma2= soma2+parseFloat(Quadros[i].subtotal)} %>
	<% } %>
	
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>Total<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 align=right style='border-top:none;border-left:none'><%=Total[0].total%></td>
  <td class=xl65 style='border-top:none;border-left:none'></td>
  <td class=xl65 style='border-top:none;border-left:none'></td>
   <td class=xl67 align=right style='border-top:none;border-left:none'><%=Total[0].depreciacao%></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=226 style='width:170pt'></td>
  <td width=287 style='width:215pt'></td>
 </tr>
 <![endif]>
</table>
</br>
<table border=0 cellpadding=0 cellspacing=0 width=513 style='border-collapse:
 collapse;table-layout:fixed;width:385pt'>
 <col width=226 style='mso-width-source:userset;mso-width-alt:8265;width:170pt'>
 <col width=287 style='mso-width-source:userset;mso-width-alt:10496;width:215pt'>
 <tr height=20 style='height:15.0pt'>
  <td colspan=2 height=20 class=xl68 width=513 style='height:15.0pt;width:385pt'>O
  quadro a seguir apresenta as despesas fixas:</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=2 height=20 class=xl69 style='height:15.0pt'>Quadro III –
  Despesas Fixas 01/2020</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl70 style='height:15.0pt;border-top:none'>Descrição</td>
  <td class=xl70 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span>Valor (R$)</td>
 </tr>
 <% function maskCurrency(val, milSep, decSep) {
	var aux="";
	var aux2="";

	var i,j;

	len = val.length;
	if (len == 0) {
		aux = '';
	} else if (len == 1) {
		aux = '0'+ decSep + '0' + val;
	} else if (len == 2) {
		aux = '0'+ decSep + val;
	} else if (len > 2) {
		aux2 = '';

		for (j = 0, i = len - 3; i >= 0; i--) {
			if (j == 3) {
				aux2 += milSep;
				j = 0;
			}
			aux2 += val.charAt(i);
			j++;
		}
		aux = '';
		len2 = aux2.length;
		for (i = len2 - 1; i >= 0; i--) {
			aux += aux2.charAt(i);
		}
		aux += decSep + val.substr(len - 2, len);
	}
	return aux;
}
 somaIII = 0.00 

 if(QuadrosIII.length > 0) { %>
	<% for(var i = 0; i < QuadrosIII.length; i++) {%>
 		<tr height=20 style='height:15.0pt'>
  			<td height=30 class=xl65 style='height:15.0pt;border-top:none' nowrap>
  				<%=QuadrosIII[i].despmediasmensais%>
  			</td>
  			<td class=xl66 align=right style='border-top:none;border-left:none'><%=QuadrosIII[i].valor2%></td>
 		</tr>
 
 		<% somaIII= somaIII+parseFloat(QuadrosIII[i].valor)} %>
	<% }// somaIII=somaIII+parseFloat(Prolabore[0].comencargos)%>
	<tr height=20 style='height:15.0pt'>
  	<td height=20 class=xl67 style='height:15.0pt;border-top:none'>Subtotal<span
  		style='mso-spacerun:yes'> </span>
  	</td>
  <td class=xl67 align=right style='border-top:none;border-left:none'>R$&nbsp;<%=somaIII%></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl65 style='height:15.0pt;border-top:none'>Salários e
  encargos<span style='mso-spacerun:yes'> </span></td>
  <td class=xl66 align=right style='border-top:none;border-left:none'>R$&nbsp;<%=(SalariosEncargos[0].subtotal).toFixed(2)%></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl65 style='height:15.0pt;border-top:none'>Pró-Labore dos
  sócios<span style='mso-spacerun:yes'> </span></td>
  <td class=xl66 align=right style='border-top:none;border-left:none'>R$ <%=Prolabore[0].valorbruto%></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl65 style='height:15.0pt;border-top:none'>Depreciação<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>R$ <%=Total[0].depreciacao%></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl67 style='height:15.0pt;border-top:none'>Total<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 align=right style='border-top:none;border-left:none'>R$&nbsp;<%=(somaIII+parseFloat(Prolabore[0].comencargos)+parseFloat(SalariosEncargos[0].comencargos)+parseFloat(Total[0].depr)).toFixed(2)%></td>
  <%ss=somaIII+parseFloat(Prolabore[0].comencargos)+parseFloat(SalariosEncargos[0].comencargos)+parseFloat(Total[0].depr)
  const round = (num, places) => {
  	if (!(""+ num).includes("e"))
		{
			return + (Math.round(num + "e" + places) + "e-" + places);

		}else{
			let arr = ("" + num).split("e");
			let sig = ""
			if (+arr[1] + places > 0){
				sig = "+";
			}
			return + (Math.round(+arr[0] + "e"+ sig + (+arr[1] + places)) + "e-"+ places);
		}	
	}
  %>
 </tr>
 
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=226 style='width:170pt'></td>
  <td width=287 style='width:215pt'></td>
 </tr>
 <![endif]>
</table>
<table>
	 <tr>
 	<p>
 		<b>Investimento inicial</b><br>
O investimento inicial é formado pelo investimento fixo inicial (balcões, prateleiras, móveis,
utensílios, máquinas, equipamentos, etc). No nosso exemplo o investimento inicial foi de
R$ <%=Total[0].total%>. No dimensionamento do volume total de recursos necessários, deve-se considerar
uma “folga” mínima de um mês de financiamento próprio de capital de giro, até que
o empreendimento seja ‘auto-sustentável’. Admite-se, portanto, que os recursos mínimos
sejam:
<%=Total[0].total%> + R$ <%=(ss).toFixed(2)%> = <%tt=Total[0].total%> R$ <%=((parseFloat(tt)*2)+parseFloat(ss)).toFixed(2)%>
 
 </tr>
 <tr>
 	<p>
 		<b>G. Remuneração do capital</b>
<b>1. Taxa de retorno do investimento</b>
O resultado da atividade está relacionado, ao capital aplicado e pode ser calculado pela relação
abaixo:
RC =
Lucro líquido
Exemplo:
R$ 2.500,00 = 1,79% ao mês.
Capital investido  R$ <%=((parseFloat(tt)*2)+parseFloat(ss)).toFixed(2)%>
O resultado deve ser comparado com a taxa real de juros de ativos financeiros, como caderneta
de Poupança, Fundos de Aplicação ou outros investimentos. Se a empresa for instalada
em regiões onde há forte sazonalidade como praias, montanhas, etc., a rentabilidade deve
ser calculada com base na estimativa de lucros anuais.
<p>
<b>2. Prazo de retorno do investimento</b>
Também se faz necessário saber em quanto tempo será recuperado o capital inicial investido
no empreendimento. Para isto, devemos dividir o valor inicialmente investido, pelo lucro
liquido mensal apurado.
Exemplo:
R$ <%=((parseFloat(tt)*2)+parseFloat(ss)).toFixed(2)%> / 56 meses = 
R$ <%=(((parseFloat(tt)*2)+parseFloat(ss)).toFixed(2)/56).toFixed(2)%>
 </tr>
	</table>
<script>

function clickHandler() {
    // variavel que define o objeto no qual ocorreu o evento Ex.: Clique do mouse no formulario, pasta, DIV...
    el = window.event.srcElement;

    if (el.className == "Outline") {
       // Inicializa variavel com o identificador do DIV
       targetId = el.id + "d" ;
       //targetId = el.id  ;
       // Inicializa na variavel com o ponteiro para executar alguma coisa no devido identificador de DIV
  	  // Ex.: OUT1d
       targetElement = document.all(targetId) ;
  	  // Verifica o elemento clicado (pasta) esta fechada

       if (targetElement.style.display == "none") {
  	     // Abre um DIV
          targetElement.style.display = "" ;

  		  // No enderero especificado poe a figura de pasta aberta
          el.src="Aberta.gif" ;
       } else {
  	     // Fecha o DIV clicado
          targetElement.style.display = "none" ;
  		  // Substitui o Gif para pasta fechada
          el.src="Fechada.gif" ;
       }
    }
  }

  // Executa na funcao "clickHandler", todo clique do documento
document.onclick = clickHandler ;
</script>


</body>

</html>
