<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Lista de Pessoas</title>
		<script language="javascript">
			
			
		   
	</script>
		
	</head>

	<body>

	<accordion-group heading="listagem de possiveisachados" >

		<h4>Lista de Pessoas</h4>
		<table class="table table-striped table-condensed">
			<thead>
			    <tr class="login-header">
			        <th style="min-width: 60px;">Codigo</th>

			        <th style="min-width: 60px;">Nome da Pessoa</th>

			        <th style="min-width: 60px;">Identificação Fiscal</th>

			        <th style="min-width: 60px;">E-Mail</th>

			        <th style="min-width: 60px;">Situação</th>

                    <th style="width: 20px;">&nbsp;</th>
                    <th style="width: 20px;">&nbsp;</th>
                </tr>
			</thead>
			<tbody>
				<% if(Pessoas.length > 0) { %>
    				<% for(var i = 0; i < Pessoas.length; i++) {%>
    				<table>
						<tr>

							<td align="center"><a href='/Consultarpessoa?idpessoa=<%=Pessoas[i].idpessoa%>' class="noticia_titulo"><%=Pessoas[i].datacadastro%>&nbsp;<%=Pessoas[i].idsubtiporegistro%>
								&nbsp;<%=Pessoas[i].idpessoa%>&nbsp;<%=Pessoas[i].status%>&nbsp;<%=Pessoas[i].idnatrelacnegocio%>&nbsp;<%=Pessoas[i].nivelsigilo%></a>
							</td>
				            <td>&nbsp;<%=Pessoas[i].nome%></td>
				            <td><%=Pessoas[i].identificacaofiscal%></td>
				            <td><%=Pessoas[i].email%></td>
				            <td><%=Pessoas[i].idsituacaopessoa%></td>
				
							<td>&nbsp;
								<button class="btn" onclick="abrir(<%=Pessoas[i].identificacaofiscal%>,<%=i%>);">Responsabilidades</button>
								
							</td>							
						</tr>
						<tr><td id="cta" colspn=6  style="display: none">
								<p> <div id="cta2" name="cta2" >
					    				<p>
					    					<span>Agencia</span>
								    		<span>Conta</span>
								    		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo</span>
								    		<span>&nbsp;Situação</span>	
					    				</p>
					    				<p id='resp'></p>
					    			</div>
					    		</p>
				    		</td>
				    	</tr>
				    </table>
					<% } %>
				<% } %>
			</tbody>

		</table>
	
	</accordion-group>
	</body>
	<script language="javascript">
		var xhr = new XMLHttpRequest();
		var x = 0;
		function abrir(idt,idc){
			//responsabilidades(idt);
			x = idc;
			var obj5 = document.getElementById("cta");
			if (obj5.style.display == 'block'){
				obj5.style.display = 'none';
			}else{
				obj5.style.display = 'block';
			};
			responsabilidades(idt);
		};
		function buscar(cpfcnpj){
			//alert("idt "+cpfcnpj);
			responsabilidades(cpfcnpj);
		}
		function responsabilidades(pessoa){
			//alert(pessoa);
			xhr.open("GET", "http://localhost:4000/Conta/"+pessoa+",true");
		    xhr.onreadystatechange = retorno;
		    xhr.send();
		}
	    function retorno(){
	    	var whtml = "";
	    	if(xhr.status === 200 && xhr.readyState==4){
	    	 	//console.log(xhr);
	    	 	if (xhr != ""){
                	var data = JSON.parse(xhr.responseText);
                	//console.log(data[0].agencia);
                	//debugger;
                	if (data.length > 0){
	                	for (i = 0; i < data.length;i++){
	                         if (data[i].agencia != undefined){
		                          whtml+= "<tr><td>"+data[i].agencia+"-"+data[i].agenciadv+"</td>";
		                          whtml+= "<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+data[i].conta+"-"+data[i].contadv+"</td>";
		                          whtml+= "<td>&nbsp;&nbsp;"+data[i].tipoconta+"</td>";
		                          whtml+= "<td>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp"+data[i].situacao+"</td>";
		                          whtml+= "<td colspan=2></td>";
	                        	}
	                    }
	                    var objR = document.getElementById("resp");
	                    objR.innerHTML=whtml;
	                }		      
            	}
	    	} 
	    };
		</script>
</html>